table, th, td {
   border: 1px solid black;
   text-align: center;
}

h1, h2, h3, section {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-size: 18px;
  text-align: center;
}

.table1 {
  margin-left: 42%;
}

html {
  background-color: #FFF1E4;
}
